@charset "utf-8";
@import url('fonts.css');
@import url('all.min.css');

html {font-size: 16px;}
body {font: 400 16px 'Noto Sans KR', sans-serif; color: #555;}


/* 공통 */
section + section, footer {padding: 0 4%;}
section .contWrap {
    position: relative; 
    overflow: hidden;
    height: calc(100vh - 100px); 
    padding: 100px 0 50px;
    background-color: #fff;
}
/* header */
header {/* 메인메뉴 */
    position: fixed;
    left: 0;right: 0;top: 0;
    height: 100px;
    border-bottom: 1px solid #f4f4f4;
    box-sizing: border-box;
    background:#fff;
    z-index: 50;
}
header .logo {/* 리치먼드로고 */
    position: absolute;
    top: 50%;left: 4%;
    width: 180px; height: 50px;
    transform: translateY(-50%);

}
header .logo > a {
    display: block;
    width: 100%; height: 100%; 
    background: url(../img/logo.png) no-repeat center/contain;
}
header .gnb {/* nav로 감싼 gnb메뉴 */
    position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%,-50%);
    width: 55%;
    text-align: center;
    font-size: 0;
} 

header .gnb > ul > li { /* 메인 메뉴와 서브메뉴를 감싼 li */
    position: relative;
    float: left;
}
header .gnb > ul > li > a {/* li안에 a */
    display: block;
    position: relative;
    padding: 0 35px;
    font-size: 1.125rem;
    line-height: 100px;
    color: #000;
}
/* depth_sub */
header.ghb > ul ul { /* ul안에 서브메뉴 */
    position: absolute;
    top: 90px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    display: none; 
}
header .gnb > ul ul a {
    display: block;
    font-size: 0.938rem;
    line-height: 2.4em;
}
header .gnb > ul ul a:hover,
header .gnb > ul ul a:focus {
    color: #8d7249;
    text-decoration: underline;
}

/* util */
header .util {/* 전화번호를 포함한 아이콘div */
    position: absolute;
    top: 50%;right: 4%;
    transform: translateY(-50%);
}
header .util .tel_mobile {/* 전화번호 */
    position: relative;
    display: inline-block;
    font-size: 18px;
    font-weight: 500;
    color: #000;
}
header .util .tel_mobile:before {
    content: '';
    display: inline-block;
    margin-right: 10px;
    width: 12px; height: 12px;
    background: url(../img/tel-bl.png)no-repeat;
}
header .util .ico_insta {
    display: inline-block;
    width: 35px;height: 35px;
    background: #000 url(../img/insta-wh.png)no-repeat center;
    border-radius: 50%;
    vertical-align: middle;
    margin-left: 15px;
}
.bgGnb {
    position: fixed;
    left: 0;right: 0;top: 100px;
    min-height: 170px;
    background: #fff;
    display: none;
    z-index: 5;
}
/* mainMov */
#mainMove {padding: 0.4;box-sizing: border-box;}
#mainMove .contWrap {
    overflow: hidden;
    position: relative;
    height: calc(100vh - 100px);
    height: 100vh;
}
#mainMove .contWrap video {
    /* position: absolute;
    top: 50%; left: 50%;
    transform: translate(-50%, -50%); */
    min-width: 100%;/* 부모크기가 더 클때 부모크기에 full로 맞추기 위함 */
    min-height: 100%;
}
/* main01 */
#main01 {
    position: relative;
    padding: 0 4%;
    box-sizing: border-box;
}
#main01 .contWrap {
    height: 90vh;
    background: url(../img/main1-bg.jpg) no-repeat fixed center/cover;
}
#main01 .mainCont {
    position: absolute;
    top: 0; left: 0;right: 0;
    padding-top: 140px;
    height: 40vh;
    background:#fff;
    text-align: center;
    z-index: 10;
}
#main01 .mainCont .midText {
    font-size: 1.5rem;
    color: rgba(0,0,0,0.7);
    margin-bottom: 10px;
}
#main01 .mainCont .bigText {
    font-size: 2.5rem;
    color: #000;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 50px;
}
#main01 .mainCont .smallText {
    margin-top: 25px;
    color: rgba(0,0,0,0.7);
    font-size: 1.125rem;
}
/* main02 */
#main02 {padding: 0 4%;}
#main02 .contWrap {
    overflow: hidden;
    padding: 250px 0 100px;
    background: #fff;
}
#main02 .conLeft {float: left;width: 40%;}
#main02 .conLeft .bigText {
    margin-bottom: 50px;
    font-size: 2.75rem;
}










